<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>管理员登陆</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
    
</head>
<body class="container">
<div>
    <form style="margin-left:500px;margin-top:200px;"   th:action="@{/consumer/adminuser/findUser}" method="post">
    	<h1 >管理员登陆</h1>
        <div class="form-group">
            <label for="ausername" style="display:inline;">账号：</label>
            <input type="text" class="form-control" name="ausername"  id="UserName" style="display:inline;width:200px;" placeholder="UserName"/>
        </div>
        <div class="form-group">
            <label for="auserpwd" style="display:inline;" >密码：</label>
            <input type="password" class="form-control" name="auserpwd" id="password" style="display:inline;width:200px;" placeholder="Password"/>
        </div>
        <input type="submit" value="Submit" class="btn btn-info" />
        &nbsp; &nbsp; &nbsp;
        <input type="reset" value="Reset" class="btn btn-info" />
    </form>
</div>
</body>
</html>