<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>用户管理</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.4.0.min.js}"></script>

	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
 	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link>
    
    <script type="text/javascript" th:src="@{/js/bootstrapValidator.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrapValidator.min.css}"></link>
</head>
<body>
<div class="container-fluid">
    <div th:include="top::html"></div>
         <div class="row" style="padding-top: 45px">
             <div th:include="left::html"></div>
             	<div class="col-md-10">
             		<div>
                        <ol class="breadcrumb">
                            <li><span class="glyphicon glyphicon-home"></span>&nbsp;
                                <a href="#">添加用户</a>
                            </li>
                        </ol>
                    </div>
                 	<div class="col-md-10">
		    			<form class="form-horizontal" id="form1"  th:action="@{/consumer/readUser/add}"  method="post">
					        <div class="form-group">
							    <label for="username" class="control-label">UserName</label>
							    <input class="form-control" type="text" name="username" id="username" placeholder="UserName"/>
							  </div> 
							  <div class="form-group">
							    <label for="userpwd" class="control-label">Password</label>
							    <input class="form-control" type="password" name="userpwd" placeholder="PassWord"/>
							  </div> 
							  <div class="form-group">
							    <label for="useremail" class="control-label">UserEmail</label>
							    <input class="form-control" type="text" name="useremail" placeholder="UserEmail"/>
							  </div> 
							  <div class="form-group">
							    <label for="usersex" class="control-label">UserSex</label>
							    <input class="form-control" type="text" name="usersex" placeholder="UserSex"/>
							  </div> 
					        <div class="form-group">
				                <input type="submit" value="Submit" class="btn btn-info" />
				                &nbsp; &nbsp; &nbsp;
				                <input type="reset" value="Reset" class="btn btn-info" />
					        </div>
					    </form>
					</div>
             	</div>
         </div>
    <div th:include="footer::html"></div>
</div>
</body>
<script type="text/javascript">
$(function () {
    $('#form1').bootstrapValidator({
　　　　message: 'This value is not valid',
        　feedbackIcons: {
            　　　　　　　　valid: 'glyphicon glyphicon-ok',
            　　　　　　　　invalid: 'glyphicon glyphicon-remove',
            　　　　　　　　validating: 'glyphicon glyphicon-refresh'
        　　　　　　　　   },
        fields: {
            username: {
                message: '用户名验证失败',
                validators: {
                    notEmpty: {
                        message: '用户名不能为空'
                    },
                    stringLength: {
                        min: 6,
                        max: 18,
                        message: '用户名长度必须在6到18位之间'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_]+$/,
                        message: '用户名只能包含大写、小写、数字和下划线'
                    }
                }
            },
            userpwd: {
                validators: {
                    notEmpty: {
                        message: '密码不能为空'
                    },
                    stringLength: {
                        min: 6,
                        max: 18,
                        message: '密码长度必须在6到18位之间'
                    }
                }
            },
            useremail: {
                validators: {
                    notEmpty: {
                        message: '邮箱地址不能为空'
                    },
                    emailAddress: {
                        message: '邮箱地址格式有误'
                    }
                }
            },
            usersex: {
                validators: {
                    notEmpty: {
                        message: '性别不能为空'
                    },
                    regexp: {
                        regexp: /^(男|女)$/,
                        message: '性别只能男或女'
                    }
                }
            }
        }
    });
});
</script>
</html>