<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>书籍管理</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
    <script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrapValidator.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrapValidator.min.css}"></link>
</head>
<body>
<div class="container-fluid">
    <div th:include="top::html"></div>
         <div class="row" style="padding-top: 45px">
             <div th:include="left::html"></div>
             	<div class="col-md-10">
             		<div>
                        <ol class="breadcrumb">
                            <li><span class="glyphicon glyphicon-home"></span>&nbsp;
                                <a href="#">添加书籍</a>
                            </li>
                        </ol>
                    </div>
                 	<div class="col-md-10">
		    			<form class="form-horizontal" id="form1"  th:action="@{/consumer/book/add}"  method="post">
					        <div class="form-group">
					            <label for="bookname" class="control-label">BookName</label>
					            <input type="text" class="form-control" name="bookname" placeholder="BookName"/>
					        </div>
					        <div class="form-group">
					            <label for="bookauthor" class="control-label" >BookAuthor</label>
					            <input type="text" class="form-control" name="bookauthor" placeholder="BookAuthor"/>
					        </div>
					        <div class="form-group">
					            <label for="booktype" class="control-label">BookType</label>
					            <input type="text" class="form-control" name="booktype" placeholder="BookType"/>
					        </div>
					        <div class="form-group">
					            <label for="bookintroduction" class="control-label">BookIntroduction</label>
					            <textarea  class="form-control" name="bookintroduction" style="height:200px;" placeholder="最多200字节"></textarea>
					        </div>
					        <div class="form-group">
				                <input type="submit" value="Submit" class="btn btn-info" />
				                &nbsp; &nbsp; &nbsp;
				                <input type="reset" value="Reset" class="btn btn-info" />
					        </div>
    					</form>
    					<p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)} "></p>
					</div>
             	</div>
         </div>
    <div th:include="footer::html"></div>
</div>
</body>
<script type="text/javascript">
$(function () {
	
    $('#form1').bootstrapValidator({
　　　　message: 'This value is not valid',
        　feedbackIcons: {
            　　　　　　　　valid: 'glyphicon glyphicon-ok',
            　　　　　　　　invalid: 'glyphicon glyphicon-remove',
            　　　　　　　　validating: 'glyphicon glyphicon-refresh'
        　　　　　　　　   },
        fields: {
        	bookname: {
                message: '书名验证失败',
                validators: {
                    notEmpty: {
                        message: '书名不能为空'
                    },
                    stringLength: {
                        min: 1,
                        max: 18,
                        message: '书名长度必须在1到18位之间'
                    }
                }
            },
            bookauthor: {
                validators: {
                    notEmpty: {
                        message: '作者不能为空'
                    },
                    stringLength: {
                        min: 1,
                        max: 18,
                        message: '作者长度必须在1到18位之间'
                    }
                }
            },
            booktype: {
                validators: {
                    notEmpty: {
                        message: '书籍类型不能为空'
                    },
                    stringLength: {
                        min: 4,
                        max: 4,
                        message: '书籍类型长度必须是4位'
                    }
                }
            },
            bookintroduction: {
                validators: {
                    notEmpty: {
                        message: '书籍介绍不能为空'
                    },
                    stringLength: {
                        min: 1,
                        max: 200,
                        message: '书籍介绍长度必须是1到200位之间'
                    }
                }
            }
        }
    });
});
</script>
</html>