<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yong.springcloud.dao.ReadUserDao">

	<select id="findById" resultType="ReadUser" parameterType="Long">
		select 
			userid,
			username,
			userpwd,
			useremail,
			usersex,
			readcount,
			readpay,
			state,
			vipset,
			DATE_FORMAT(starttime,'%Y-%m-%d %H:%i:%s') as starttime,
			DATE_FORMAT(endtime,'%Y-%m-%d %H:%i:%s') as endtime 
		from readuser 
		where userid=#{userid};
	</select>
	<select id="findAll" resultType="ReadUser">
		select 
			userid,
			username,
			userpwd,
			useremail,
			usersex,
			readcount,
			readpay,
			state,
			vipset,
			DATE_FORMAT(starttime,'%Y-%m-%d %H:%i:%s') as starttime,
			DATE_FORMAT(endtime,'%Y-%m-%d %H:%i:%s') as endtime
		from readuser;
	</select>
	<insert id="addUser" parameterType="ReadUser">
		insert into readuser
		<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="username != null">
			username,
		</if>
		<if test="userpwd != null">
			userpwd,
		</if>
		<if test="useremail != null">
			useremail,
		</if>
		<if test="usersex != null">
			usersex,
		</if>
		<if test="readcount != null">
			readcount,
		</if>
		<if test="readpay != null">
			readpay,
		</if>
		<if test="state != null">
			state,
		</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="username!= null" >
			#{username,jdbcType=VARCHAR},
		</if>
		<if test="userpwd!= null" >
			#{userpwd,jdbcType=VARCHAR},
		</if>
		<if test="useremail!= null" >
			#{useremail,jdbcType=VARCHAR},
		</if>
		<if test="usersex!= null" >
			#{usersex,jdbcType=VARCHAR},
		</if>
		<if test="readcount!= null" >
			#{readcount,jdbcType=BIGINT},
		</if>
		<if test="readpay!= null" >
			#{readpay,jdbcType=BIGINT},
		</if>
		<if test="state!= null" >
			#{state,jdbcType=VARCHAR},
		</if>
		</trim>
	</insert>
	<update id="upUser" parameterType="ReadUser">
		update readuser
		<set>
			<if test="username!=null">username=#{username},</if>
			<if test="userpwd!=null">userpwd=#{userpwd},</if>
			<if test="useremail!=null">useremail=#{useremail},</if>
			<if test="usersex!=null">usersex=#{usersex},</if>
			<if test="readcount!=null">readcount=#{readcount},</if>
			<if test="readpay!=null">readpay=#{readpay},</if>
			<if test="state!=null">state=#{state},</if>
			<if test="vipset!=null">vipset=#{vipset},</if>
			<if test="starttime!=null">starttime=#{starttime},</if>
			<if test="endtime!=null">endtime=#{endtime}</if>
		</set>
		 where userid=#{userid};
	</update>
	<delete id="delUser" parameterType="Long">
		delete from readuser where userid=#{userid};
	</delete>
	
	<select id="findUser" resultType="ReadUser" parameterType="String">
		select 
			userid,
			username,
			userpwd,
			useremail,
			usersex,
			readcount,
			readpay,
			state,
			vipset,
			DATE_FORMAT(starttime,'%Y-%m-%d %H:%i:%s') as starttime,
			DATE_FORMAT(endtime,'%Y-%m-%d %H:%i:%s') as endtime 
		from readuser 
		where username=#{username};
	</select>
	
	<update id="setvip" parameterType="Long">
		update readuser set
			vipset='1',
			starttime=NOW(),
			endtime=DATE_ADD(starttime,INTERVAL 1 MONTH)
		where userid=#{userid};
	</update>
	
	<update id="cancalvip" parameterType="Long">
		update readuser set
			vipset='0',
			starttime=NULL,
			endtime=NULL
		where userid=#{userid};
	</update>

</mapper>
