<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>九零看书网</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
 	<link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}" />
 	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link>
    <script type="text/javascript" th:src="@{/js/jquery-3.4.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">
	<div class="row" th:include="toper::html"></div>
	<div class="container" style="width:990px">
	<h1>
		<strong  th:text="${book.bookname}"></strong>
		<span><a><font th:text="${book.bookauthor}" size="5"></font></a><font size="5"> 著</font></span>
	</h1>
	<h4 th:text="${book.booktype}"></h4>
	<button type="button" class="btn btn-default">开始阅读</button>
	<button type="button" class="btn btn-default">投推荐票</button>
	<button type="button" class="btn btn-default">点赞</button>
	</div>
	<div class="container" style="width:990px">
	<ul id="myTab" class="nav nav-tabs">
		<li><a href="#info" data-toggle="tab">作品信息</a></li>
		<li><a href="#calo" data-toggle="tab">目录</a></li>
		<li><a href="#content" data-toggle="tab">作品评论</a></li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane" id="info">
			<p th:text="${book.bookintroduction}"></p>
		</div>
		<div class="tab-pane active" id="calo">
			 <table>  
                 <tr th:each="chapters,chaptersStat : ${chapters}">  
                    <td>
                       <a class="btn btn-default" role="button" th:text="第+${chaptersStat.index+1}+章：+${chapters.chaptername}" th:href="@{/consumer/chapter/findChapter(chapterid=${chapters.chapterid})}">第#章</a>  
                    </td>
                 </tr>  
             </table>
		</div>
		<div class="tab-pane" id="content">
			<p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple 
				TV。iOS 派生自 OS X 啊哈</p>
		</div>
	</div>
    </div>
    <div class="row" th:include="footer::html"></div>
</div>
<script>
$(function () {
    $('#myTab a:first').tab('show');
  $('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})
</script>
</body>
</html>