<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>作家管理</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
    <script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div th:include="top::html"></div>
         <div class="row" style="padding-top: 45px">
             <div th:include="left::html"></div>
             	<div class="col-md-10">
             		<div>
                        <ol class="breadcrumb">
                            <li><span class="glyphicon glyphicon-home"></span>&nbsp;
                                <a href="#">作家编辑</a>
                            </li>
                        </ol>
                    </div>
                 	<div class="with:100%">
		    			<form class="form-horizontal"   th:action="@{/consumer/author/edit}" th:object="${author}"  method="post">
					        <input type="hidden" name="authorid" th:value="*{authorid}" />
					        <div class="form-group">
					            <label for="authorname" class="col-sm-2 control-label">AuthorName</label>
					            <div class="col-sm-10">
					                <input type="text" class="form-control" name="authorname"  id="AuthorName" th:value="*{authorname}" placeholder="AuthorName"/>
					            </div>
					        </div>
					        <div class="form-group">
					            <label for="authoremail" class="col-sm-2 control-label" >AuthorEmail</label>
					            <div class="col-sm-10">
					                <input type="text" class="form-control" name="authoremail" id="AuthorEmail" th:value="*{authoremail}" placeholder="AuthorEmail"/>
					            </div>
					        </div>
					       <div class="from-group">
					            <label for="authorsex" class="col-sm-2 control-label">AuthorSex</label>
					            <div class="col-sm-10">
					                <input type="text" class="form-control" name="authorsex"  id="AuthorSex" th:value="*{authorsex}" placeholder="AuthorSex"/>
					            </div>
					        </div>
					        <div class="from-group">
					            <label for="authorincome" class="col-sm-2 control-label">AuthorIncome</label>
					            <div class="col-sm-10">
					                <input type="text" class="form-control" name="authorincome"  id="AuthorIncome" th:value="*{authorincome}" placeholder="AuthorIncome"/>
					            </div>
					        </div>
					        <div class="from-group">
					            <label for="authorintroduction" class="col-sm-2 control-label">AuthorIntroduction</label>
					            <div class="col-sm-10">
					                <textarea  class="form-control" name="authorintroduction"  id="AuthorIntroduction" th:text="*{authorintroduction}" placeholder="AuthorIntroduction" style="height:200px;" ></textarea>
					            </div>
					        </div>
					        <div class="from-group">
					            <label for="authorworks" class="col-sm-2 control-label">AuthorWorks</label>
					            <div class="col-sm-10">
					                <textarea  class="form-control" name="authorworks"  id="AuthorWorks" th:text="*{authorworks}" placeholder="AuthorWorks" style="height:200px;" ></textarea>
					            </div>
					        </div>
					        <div class="from-group">
					            <label for="authordots" class="col-sm-2 control-label">AuthorDots</label>
					            <div class="col-sm-10">
					                <input type="text" class="form-control" name="authordots"  id="AuthorDots" th:value="*{authordots}" placeholder="AuthorDots"/>
					            </div>
					        </div>
					        <div class="form-group">
					            <div class="col-sm-offset-2 col-sm-10">
					                <input type="submit" value="Submit" class="btn btn-info" />
					                &nbsp; &nbsp; &nbsp;
					                <a href="/consumer/author/toedit" th:href="@{/consumer/author/findAll}" class="btn btn-info">Back</a>
					            </div>
					        </div>
					    </form>
					</div>
             	</div>
         </div>
    <div th:include="footer::html"></div>
</div>
</body>
</html>